<h1>Resultados para: "{{pesquisa}}"</h1>

{{#if items.length}}
<ul>
{{#each items}}
<li>{{nome}} - hh</li>
<li>{{nome}} - hh</li>
<li>{{nome}} - hh</li>

{{/each}}
</ul>
{{else}}
<p>Nenhum resultado encontrado. <img class = 'imagem' src="layouts/1f641.png" alt=""> </p>
{{/if}}
